<<<<<<< HEAD
.myseparator{
    margin-left: 50%;
    margin-right: 50%;
    padding-bottom: 60px;
=======
.myseparator{
    margin-left: 50%;
    margin-right: 50%;
    padding-bottom: 60px;
>>>>>>> ed4d1b40d30057484339b1ed4469bbbbbbbea3c8
}