.footerList{
    margin-top: 0;
    margin-bottom: 50px;
}

@media screen and (max-width: 961px) {
    .footerList{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .logoTouplay{
        width: 50%;
        margin: 0;
    }

    .logoBarigioca{
        justify-content: flex-end;
        width: 50%;
        padding-right: 0;
    }

    .touplay-footer {
        width: 120px;
    }

    .barigioca-footer{
        width: 65px;
    }

    .social-row{
        margin-bottom: 20px;
    }

    .social-link{
        display: flex;
        font-size: 0.7rem;
    }

    .mid-column{
        display: none;
    }
}