.logoTouplay, .logoBarigioca{
    width: 50%;
    margin-top: 10px;
}

.footerList{
    margin-top: 0;
    margin-bottom: 50px;
}

.social-row{
    margin-bottom: 30px;
}

.social-link{
    display: flex;
    justify-content: center;
    width: 65px;
    font-size: 0.8rem;
}


@media screen and (max-width: 961px) {
    .footerList{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .logoTouplay{
        margin: 0;
    }

    .logoBarigioca{
        justify-content: flex-end;
        padding-right: 0;
    }

    .touplay-footer {
        width: 120px;
    }

    .barigioca-footer{
        width: 65px;
    }

    .mid-column{
        display: none;
    }

    .social-link{
        display: flex;
        justify-content: center;
        width: 45px;
        font-size: 0.6rem;
    }
}