/*HOMEPAGE*/
.slideshow {
    background-color: rgba(255, 255, 255, 0);
    z-index: 0; /*indice di trasparenza immagine carosello "corsi"*/
    margin-top: 25px;
    margin-bottom: 50px;
}


.iProdotti{
    color: #212529;
    width: 220px;
    height: 50px;
    font-size: 38px;
    font-weight: 500;
    margin: 35px auto;
    text-align: center;
}

.productBannerHeight{
    padding-bottom: 50px;
    padding-top: 20px;
    box-shadow: 1px 2px 15px #0000004b;
}

.carouselProductContainer {
    display: flex;
    width: 100%;
    height: auto;
}
.image{
    display: flex;
    width: 40%;
}
.carouselProductImages{
    display: flex;
    margin: auto 105px;
    margin-right: 20px;
    margin-left: 30%;
    min-width: 245px;
    max-width: 425px;
}
.productInfo{
    width: 60%;
    margin: auto;
    margin-right: 10%;
}
.productName {
    font-weight: 500;
    font-size: 32px;
    margin: 32px 0;
}
.productDescription {
    font-weight: 400;
    font-size: 26px;
    margin: 12px 0;
}
.buttonContainer{
    display: flex;
    justify-content: flex-end;
}
.continueButton{
    margin-top:25px;
    margin-bottom: 45px;
}

@media screen and (max-width: 1080px) {
    .carouselProductContainer {
        display: block;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .image{
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: center;
    }
    .carouselProductImages{
        display: flex;
        margin: auto 85px;
        min-width: 250px; 
        max-width: 400px;   
    }
    .productInfo{
        margin: auto;
    }
    .productName{
        text-align: center;
        font-size: 26px;
        margin-top: 25px;
    }
    .productDescription{
        text-align: center;
        font-size: 22px;
    }
    .continueButton{
        display: flex;
        margin: 35px auto;
        width: 120px;
        align-items: center;
        justify-content: center;
    }
}
